/* ==========
 * Production
 * Change Background on Scroll in Squarespace
 * Copyright Will Myers 
========== */
/*For Page-Section > Section-Background <-- Can remove later*/
body:not(.sqs-edit-mode-active) #page .wm-background-change > .section-background{
  position:fixed;
  opacity:0;
  height:100vh;
  width:100vw;
}
body:not(.sqs-edit-mode-active) #page .wm-background-change{
  background:transparent;
}
body:not(.sqs-edit-mode-active) [wm-plugin="background-change-all"], body:not(.sqs-edit-mode-active) .hide-block{
  display:none;
}
body:not(.sqs-edit-mode-active) #page .wm-background-change.background-width--inset > .section-background {
  height: unset;
  width:unset;
}
body.sqs-edit-mode-active .wm-background-change > .section-background{
  visibility: visible !important;
  opacity: 1 !important;
}
@media(max-width:767px) {
  body:not(.sqs-edit-mode-active) #page .wm-background-change > .section-background{
    height:107vh;
  }
}



/*For Page-Section > Section-Border*/
body:not(.sqs-edit-mode-active) #page .wm-background-change > .section-border,
body:not(.sqs-edit-mode-active) #page .wm-background-change > .section-divider{
  position:fixed;
  opacity:0;
  height:100vh;
  width:100vw;
}
body:not(.sqs-edit-mode-active) #page .wm-background-change{
  background:transparent;
}
body:not(.sqs-edit-mode-active) [wm-plugin="background-change-all"], body:not(.sqs-edit-mode-active) .hide-block{
  display:none;
}
body:not(.sqs-edit-mode-active) #page .wm-background-change.background-width--inset > .section-border,
body:not(.sqs-edit-mode-active) #page .wm-background-change.background-width--inset > .section-divider{
  height: unset;
  width:unset;
}
body.sqs-edit-mode-active .wm-background-change > .section-border,
body.sqs-edit-mode-active .wm-background-change > .section-divider{
  visibility: visible !important;
  opacity: 1 !important;
}
@media(max-width:767px) {
  body:not(.sqs-edit-mode-active) #page .wm-background-change > .section-border,
  body:not(.sqs-edit-mode-active) #page .wm-background-change > .section-divider{
    height:107vh;
  }
}

/*Additional CSS*/
.wm-background-scroll-css-enabled .page-section{
  z-index:2;
}
.wm-background-scroll-css-enabled .page-section > .section-border,
.wm-background-scroll-css-enabled .page-section > .section-divider {
  z-index:2;
}
.wm-background-scroll-css-enabled .page-section > .content-wrapper {
  z-index:3 !important;
}
.wm-background-scroll-css-enabled .wm-background-change {
  z-index:1;
}
.wm-background-scroll-css-enabled .wm-background-change > .section-border,
.wm-background-scroll-css-enabled .wm-background-change > .section-divider{
  z-index:1;
}
.wm-background-scroll-css-enabled .wm-background-change > .content-wrapper{
  z-index:2;
}
.wm-background-scroll-css-enabled footer#footer-sections {
  z-index: 9;
}
